<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <section th:if="${name} ne ''">
        <p th:text="${name} + ', I hope you interested to hire me.'"/>
    </section>

    <section th:if="${name} eq ''">
        <p>CURICULUM VITAE</p>
    </section>

    <section th:each="cv: ${cv}">
        <tr th:text="${{cv}}"/>
    </section>

</body>
</html>